body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  --s: 100px; /* control the size */
  --c1: #ff8afc;
  --c2: #1b1b3a;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}

.navbar {
  font-family: "EB Garamond", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #512b81;
  color: #faf0e6;
  padding: 5px 30px 0 0;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.nav-site-name {
  font-size: 35px;
}

.nav-right a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.nav-right a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 60px); /* Adjust for navbar height */
  padding: 20px;
  box-sizing: border-box;
}

.right-side {
  background-color: #040d12;
  padding: 20px;
  color: #faf0e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}

h2 {
  font-family: "EB Garamond", serif;
  color: #4477ce;
  font-size: 40px;
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 20px;
}

.form-section h3 {
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1;
  min-width: 45%; /* Adjust to maintain columns on smaller screens */
}

label {
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

button {
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #218838;
}

#signup-error-message {
  color: red;
  margin-top: 10px;
}
.input {
  margin-bottom: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  font-size: 2vw;
  color: sandybrown;
  background-color: rgb(28, 28, 30);
  box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  width: 100%;
  height: 40px;
  transition: 0.4s;
}
.input::placeholder {
  font-size: 15px;
}
.input:hover {
  box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
  box-shadow: 0 0 0 0.15vw skyblue;
}
