@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.heading {
  margin: 10px;
  text-align: center;
  font-size: 3.3em;
  font-family: "Ubuntu", sans-serif;
  color: #0c359e;
  font-weight: 600;
}
.hrej {
  color: #151515;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    minmax(0, 1fr)
  ); /* Four columns with equal width */
  gap: 20px; /* Gap between grid items */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    minmax(0, 1fr)
  ); /* Four columns with equal width */
  gap: 20px; /* Gap between grid items */
}

.card {
  border-radius: 25px;
  margin-left: 25px;
  width: 250px;
  height: 400px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  position: relative;
  overflow: hidden; /* Ensure image does not overflow */
  height: 0; /* Start with a zero height */
  padding-bottom: 56.25%; /* 16:9 aspect ratio (change as needed) */
}

.img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure image width covers entire container */
  height: 100%; /* Ensure image height covers entire container */
  object-fit: cover; /* Scale image while preserving aspect ratio */
  border-radius: 10px;
}
.text-title {
  font-size: 25px;
  font-weight: 600;
}
.text-body {
  font-size: 14px;
  margin-bottom: 2px;
}
.card-info {
  padding-top: 10%;
}
.Cprice,
.soldDate,
.soldto {
  margin-bottom: 5px;
  font-size: 18px;
  color: #f5f7f8;
}
.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.success {
  color: #071952;
  background-color: #667bc6;
}
.reject {
  color: #151515;
  background-color: #686d76;
}
/* Hover effects */
.card-img:hover {
  transform: translateY(-10%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-button:hover {
  border-color: #ffcaa6;
  background-color: #ffcaa6;
}
